name: CI

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.13"

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: install_system_deps
        run: sudo make install_system_deps

      - name: Install uv
        env:
          UV_VERSION: "0.8.12"
        run: |
          curl -LsSf "https://astral.sh/uv/${UV_VERSION}/install.sh" | sh

      - name: install
        run: make install

      - name: lint
        run: make lint

      - name: mypy
        run: make mypy

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.13']

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: install_system_deps
      run: sudo make install_system_deps

    - name: Install uv
      env:
        UV_VERSION: "0.8.12"
      run: |
        curl -LsSf "https://astral.sh/uv/${UV_VERSION}/install.sh" | sh

    - name: install
      run: make install

    - name: test
      run: make test
      env:
        FTP_PATH: ${{ secrets.FTP_PATH }}

    - name: Upload coverage
      uses: codecov/codecov-action@v5
